
body {
			margin-top: 2rem;
			margin-bottom: 2rem;
	}

.footer {
    width: 100%;
    height: 2.5rem;
    background-color: #F5F5F5;
    margin-top: 2rem;
}

.row-space-after {
	margin-bottom: 2rem;
}

.short-code-display {
	display: flex;
}

.short-code-display > * {
	margin-right: 2rem;
}