<script>
angular.module('urlApp', ['ngSanitize'], function($locationProvider) {
		$locationProvider.html5Mode({
			enabled: true,
			requireBase: false
		});
	}).controller('ShortUrlCtrl', ['$http', '$document', '$location', function($http, $document, $location) {
		var self = this;

		self.url = undefined;
		self.shortUrl = undefined;
		self.shareableUrl = undefined;
		self.shortShareableUrl = undefined;

		self.shortCodes = [];
		self.allShortCodes = [];
		self.selectedShortCode = undefined;
		self.savedShortCodes = [];

		self.trailText = undefined;
		self.linkText = undefined;
		self.headline = undefined;

		self.lastErrorMessage = undefined;

		self.showAllCodes = true;
		self.showDetails = false;

        self.campaignType = "";
        self.isInternal = false;

        if($location.path() == "/ga") {
            self.campaignType = 'ga'
        }

		self.text = "";
		$http.get('api/short-codes?campaignType='+self.campaignType).success(function(data) {
			self.shortCodes = data;
			self.allShortCodes = data;
			self.savedShortCodes = data;

			if(data && data.length > 0) {
				self.selectedShortCode = data[0];
			}
		});

		function setText(state) {
			return state.headline + " " + state.shareableUrl;
		}

		function calculateSharingUrl(state) {
		    if(state.campaignType == 'ga') {
                if(state.isInternal === false) return state.url + calculateGAEcodes(state);
                else return state.url + '?INTCMP='+encodeURI(state.selectedShortCode.INTCMP);
            }
            else return state.url + '?CMP=' + state.selectedShortCode.code;
		}

		function calculateShortSharingUrl(state) {
            if(state.campaignType == 'ga') {
                if(state.isInternal === false) return state.shortUrl + calculateGAEcodes(state);
                else return state.shortUrl + '?INTCMP='+encodeURI(state.selectedShortCode.INTCMP);
            }
            else return state.shortUrl + '?CMP=' + state.selectedShortCode.code;
		}

        function calculateGAEcodes(state) {
            utm_content = state.selectedShortCode.utm_content !== "" ? "&utm_content=" + encodeURI(state.selectedShortCode.utm_content) : "";
            utm_term = state.selectedShortCode.utm_term !== "" ? "&utm_term=" + encodeURI(state.selectedShortCode.utm_term) : "";

            return '?' +
                "utm_source=" + encodeURI(state.selectedShortCode.utm_source) +
                "&utm_campaign=" + encodeURI(state.selectedShortCode.utm_campaign) +
                "&utm_medium=" + encodeURI(state.selectedShortCode.utm_medium) +
                utm_content + utm_term
        }

		function determinePath(url) {
			var el = $document[0].createElement('a');
			el.href = url;

			return el.pathname;
		}

		self.shortCodeChange = function() {
			if(self.url) {
				self.shareableUrl = calculateSharingUrl(self);
				self.shortShareableUrl = calculateShortSharingUrl(self);
				self.text = setText(self);
			}
		}

		self.urlChange = function() {

			self.shortUrl = undefined;
			self.shareableUrl = undefined;

			self.lastErrorMessage = undefined;

			$http.get('api/short-url?path='+determinePath(self.url)).success(
				function(data) {
					
					self.shortUrl = data.fields.shortUrl;
					self.trailText = data.fields.trailText;
					self.headline = data.fields.headline;

					self.showAllCodes = false;

					if(data.sectionId) {
						$http.get('api/short-codes/section/' + data.sectionId + '?campaignType=' + self.campaignType).success(function(data) {
							self.shortCodes = data;
							if(data && data.length > 0) {
								self.selectedShortCode = data[0];
							}

							self.shortCodeChange();
						});
					}

					self.shortCodeChange();
				}
			).error(function() {
				self.lastErrorMessage = "Url could not be resolved";
			});
		}

		self.toggleAllCodes = function() {

			if(self.showAllCodes) {
				self.savedShortCodes = self.shortCodes;
				self.shortCodes = self.allShortCodes.slice();
				self.selectedShortCode = self.shortCodes[0];
			} else {
				self.shortCodes = self.savedShortCodes;
				self.selectedShortCode = self.shortCodes[0];
			}

			self.shortCodeChange();
		}

		self.toggleDetails = function() {
			self.showDetails = !self.showDetails;
		}

        self.toggleInternal = function () {
            self.shortCodeChange();
        }

		var params = $location.search();
		
		if(params.url) {
			self.url = params.url;
			self.urlChange();
		}
	}]);
</script>
