{% extends 'base.html' %}

{% block title %}Share url generator{% endblock %}

{% block content %}
<div class="container" ng-app="urlApp">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Sharing short code generator</h1>

			<blockquote>Create sharing urls without tears</blockquote>
		</div>
	</div>

	<div class="row" ng-controller="ShortUrlCtrl as ctrl">
		{% raw %}
		<div class="col-md-12">
			<form>
			<div class="form-group">
			<label for="base-url">Content url</label>
			<input type="text" id="base-url" class="form-control"
				ng-model="ctrl.url"
				ng-change="ctrl.urlChange()">
			</div>

			<div class="form-group">
			<select id="short-code" class="form-control"
				ng-required="true"
				ng-model="ctrl.selectedShortCode"
				ng-options="sc.name for sc in ctrl.shortCodes track by sc.code"
				ng-change="ctrl.shortCodeChange()">
			</select>
			</form>
			</div>
		</div>
		<div class="col-md-12">
			<p>Short url: {{ctrl.shortUrl}}</p>
		</div>
		<div class="col-md-12">
			<p>Shareable url: {{ctrl.sharableUrl}} </p>
		</div>

		{% endraw %}
	</div>
</div>


<script>
angular.module('urlApp', [])
	.controller('ShortUrlCtrl', ['$http', function($http) {
		var self = this;

		self.url = undefined;
		self.shortUrl = 'Short url';
		self.sharableUrl = 'Sharable url';

		self.shortCodes = [];
		self.selectedShortCode = undefined;

		$http.get('api/short-codes').success(function(data) {
			console.log(data);
			self.shortCodes = data;
			if(data && data.length > 0) {
				self.selectedShortCode = data[0];
			}
		});

		function calculateSharingUrl(state) {
			return state.shortUrl + '/' + state.selectedShortCode.code;
		}

		function determinePath(url) {
			return 'lifeandstyle/2015/aug/18/paleo-diet-critics-science';
		}

		self.shortCodeChange = function() {
			console.log(self.selectedShortCode);
			self.sharableUrl = calculateSharingUrl(self);
		}

		self.urlChange = function() {
			console.log(self.url);

			$http.get('api/short-url?path='+determinePath(self.url)).success(function(data) {
				self.shortUrl = data.shortUrl;

				self.sharableUrl = calculateSharingUrl(self);
			});
		}
	}]);
</script>

{% endblock %}
