{% extends 'base.html' %}

{% block title %}Share url generator{% endblock %}

{% block content %}
<div class="container" ng-app="urlApp">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Sharing short code generator</h1>

			<blockquote>Create sharing urls without tears (bookmarlet: <a href="javascript:location.href='https://gdn-short-code.appspot.com/?url=' + encodeURIComponent(location.href)">Sharing url</a>)</blockquote>
		</div>
	</div>

	<div class="row" ng-controller="ShortUrlCtrl as ctrl">
		{% raw %}
		<div class="col-md-12">
			<form>
			<div class="form-group">
			<label for="base-url">Content url</label>
			<input type="text" id="base-url" class="form-control"
				ng-model="ctrl.url"
				ng-change="ctrl.urlChange()">
			</div>

			<div class="form-group">
			<select id="short-code" class="form-control"
				ng-required="true"
				ng-model="ctrl.selectedShortCode"
				ng-options="sc.name for sc in ctrl.shortCodes track by sc.code"
				ng-change="ctrl.shortCodeChange()">
			</select>
			</form>
			</div>
		</div>

		<div class="col-md-12" ng-show="ctrl.lastErrorMessage">
			<p class="error-message">{{ctrl.lastErrorMessage}}</p>
		</div>

		<div class="col-md-12" ng-show="ctrl.trailText">
			<p>Trail text: <span ng-bind-html="ctrl.trailText"></span></p>
		</div>

		<div class="col-md-12" ng-show="ctrl.shareableUrl">
			<p>Shareable url: {{ctrl.shareableUrl}} [<a ng-href="{{ctrl.shareableUrl}}">link</a>] </p>
		</div>

		<div class="col-md-12" ng-show="ctrl.shortUrl">
			<p>Short url: <a ng-href="{{ctrl.shortUrl}}">{{ctrl.shortUrl}}</a></p>
		</div>

		{% endraw %}
	</div>
</div>

{% include 'app.html' %}

{% endblock %}
