{% extends 'base.html' %}

{% block title %}Share url generator{% endblock %}

{% block content %}
<div class="container" ng-app="urlApp">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Sharing short code generator</h1>

			<blockquote>Create sharing urls without tears (bookmarlet: <a href="javascript:location.href='https://gdn-short-code.appspot.com/?url=' + encodeURIComponent(location.href)">Sharing url</a>)</blockquote>
		</div>
	</div>

	{% raw %}
	<section ng-controller="ShortUrlCtrl as ctrl">
	<div class="row">
		<div class="col-md-12">
			<form>
			<div class="form-group">
			<label for="base-url">Content url</label>
			<input type="text" id="base-url" class="form-control"
				ng-model="ctrl.url"
				ng-change="ctrl.urlChange()">
			</div>

			<div class="form-group">
			<select id="short-code" class="form-control"
				ng-required="true"
				ng-model="ctrl.selectedShortCode"
				ng-options="sc.name for sc in ctrl.shortCodes track by sc.code"
				ng-change="ctrl.shortCodeChange()">
			</select>

			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="ctrl.showAllCodes" ng-change="ctrl.toggleAllCodes()"> Show all short codes
					</label>
				</div>
			</div>

			</form>
			</div>
		</div>
	</div>

    <span ng-show="ctrl.campaignType === 'ga'">
        <div class="checkbox">
		    <label>
			    <input type="checkbox" ng-model="ctrl.isInternal" ng-change="ctrl.toggleInternal()"> Internal campaign
            </label>
        </div>
    </span>

	<div class="row row-space-after" ng-show="ctrl.shareableUrl">
		<h3>Copy, paste and share <sup><a ng-href="{{ctrl.shareableUrl}}">link</a></sup></h3>
		<div class="col-md-12">
			<textarea class="form-control" rows="2" ng-model="ctrl.text"></textarea>
		</div>
	</div>

	<div class="row row-space-after" ng-show="ctrl.headline">
		<div class="col-md-12">
			<button class="btn btn-small" ng-click="ctrl.toggleDetails()">Show details</button>
		</div>
	</div>

	<div class="details" ng-show="ctrl.showDetails">

		<div class="row" ng-show="ctrl.headline">
			<div class="col-md-12">
				<p>Headline: <span ng-bind-html="ctrl.headline"></span></p>
			</div>
		</div>

		<div class="row" ng-show="ctrl.linkText">
			<div class="col-md-12">
				<p>Link text: <span ng-bind-html="ctrl.linkText"></span></p>
			</div>
		</div>

		<div class="row" ng-show="ctrl.trailText">
			<div class="col-md-12">
				<p>Trail text: <span ng-bind-html="ctrl.trailText"></span></p>
			</div>
		</div>

		<div class="row" ng-show="ctrl.shortUrl">
			<div class="col-md-12">
				<p>Short url: <a ng-href="{{ctrl.shortUrl}}">{{ctrl.shortUrl}}</a></p>
			</div>
		</div>


		<div class="row row-space-after" ng-show="ctrl.shareableUrl">
			<div class="col-md-12">
				<p>Use this for sharing on your account:<br> {{ctrl.shareableUrl}} [<a ng-href="{{ctrl.shareableUrl}}">link</a>] </p>
				<p>Short url version <sup><em>deprecated</em></sup>:<br> {{ctrl.shortShareableUrl}} [<a ng-href="{{ctrl.shortShareableUrl}}">link</a>] </p>
			</div>
		</div>
	</div>

	</section>

	{% endraw %}

</div>

{% include 'app.html' %}

{% endblock %}
